services:
  web:
    build: .
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
    depends_on:
      - redis

  worker:
    build: .
    # command: celery -A bank_management worker -l info
    depends_on:
      - redis

  redis:
    image: redis:7
    ports:
      - "6379:6379"